@media screen and (max-width: 1235px) {
    .position {
        flex-direction: column;
    }
    .style_background::before {
        background-color: rgba(0, 0, 0, 0);
    }
    .conteiner6 {
        display: none;
    }
    .icons__position{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 864px;
    }
    .left__batton {
        display: block;
        width: 150px;
    }
    .right__batton {
        display: block;
        width: 150px;
    }
    .media1024 {
        display: flex;
        justify-content: center;
    }
    .media__text{
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
        width: 300px;
    }
    .house {
        display: none;
    }
    .clients{
        display: none;
    }
    .form__input {
        width: 100%;
    }
    .form__img {
        background: #181818;
    }
    .form__img::before {
        background-color: rgba(0, 0, 0, 0);;
    }
}
@media screen and (max-width: 1197px) {
    .header {
        height: 57px;
        display: flex;
    }
    .conteiner {
        width: 100%;
    }
    .header__content {
        justify-content: space-between;
    }
    .logo {
        margin-left: 18px;
    }
    .telephon {
        margin-right: 18px;
    }
    nav {
        display: none;
    }
    .button{
        display: none;
    }
    .footer{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
           /* header */
/*-------------------------------*/
    .header {
        height: 57px;
        display: flex;
    }
    .conteiner {
        width: 100%;
    }
    .header__content {
        justify-content: space-between;
    }
    .logo {
        margin-left: 18px;
    }
    .telephon {
        margin-right: 18px;
    }
    nav {
        display: none;
    }
    .button{
        display: none;
    }

           /* intro */
/*-------------------------------*/
    .text__intro {
        margin-left: 30px;
    }

           /* Slider */
/*-------------------------------*/
    .section__slider {
        display: none;
        justify-content: center;
    }
    .slider {
        height: 1402px;
    }
    .slider__test {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .silder__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slider__right {
        display: flex;
        justify-content: center;
    }
    .icons__slider {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 475px;
        width: 668px;
    }
    .img__slider {
        display: none;
    }
    .img__slider1 {
        display: block;
        width: 668px;
        padding-bottom: 331px;
    }
    .Completed{
        width: 100%;
        text-align: center;
    }
    .Only {
        margin-left: 200px;
        margin-right: 200px;
        text-align: center;
    }
    .text {
        position: absolute;
        padding-top: 733px;
    }
    .img__slider {
        padding-bottom: 331px;
    }

          /* Products */
/*-------------------------------*/
    .position {
        flex-direction: column;
    }
    .conteiner__image {
        margin-bottom: 100px;
    }
    .conteiner__image1 {
        margin-bottom: 100px;
    }

           /* House */
/*-------------------------------*/ 
    .house {
        display: none;
    }

           /* style */
/*-------------------------------*/ 
    .style {
        margin-bottom: 0;
    }
    .style_background::before {
        display: none;
    }
    .icons__position {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .right__batton{
        display: block;
        width: 150px;
    }
    .left__batton {
        display: block;
        width: 150px;
    }
    .Products {
        margin-bottom: 0;
    }
    .conteiner6 {
        display: none;
    }
    .media1024 {
        display: flex;
        justify-content: center;
    }
    .media__text{
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
        width: 300px;
    }

           /* Clients */
/*-------------------------------*/
    .clients {
        display: none;
    }
    .google__maps {
        width: 750px;
    }
}
@media screen and (max-width: 817px) {
    .image__Video{
        width: 100%;
    }
    .video__cust {
        width: 100%;
    }
}
@media screen and (max-width: 798px) {
    .video {
        background: #131313;
    }
    .image__Video{
        height: 410px;
    }
    .zapis {
        color: #fff;
    }
    .input {
        flex-direction: column;
    }
    .Name {
        margin-bottom: 63px;
        color: #bbbbbb;
    }
    .phone {
        margin-bottom: 63px;
        margin-left: 0;
        color: #bbbbbb;
    }
    .container4 {
        margin-bottom: 136px;
        color: #fff;
    }
    .Submit {
        margin-top: 47px;
        margin-bottom: -148px;
        margin-left: 0px;
        width: 700px;
        border: 1px solid #fff;
        color: #fff;
    }
    .input__Name {
        width: 699px;
    }
    .tel {
        width: 699px;
    }
    .ladel {
        color: #fff;
    }
    .form__input {
        width: 679px;
    }
}
@media screen and (max-width: 768px) {
    .video {
        background: #131313;
    }
    .video__cust {
        width: 100%;
    }
    .image__Video {
        width: 100%;
        height: 407px;
    }
    .zapis {
        color: #fff;
    }
    .input {
        flex-direction: column;
    }
    .Name {
        margin-bottom: 63px;
        color: #bbbbbb;
    }
    .phone {
        margin-bottom: 63px;
        margin-left: 0;
        color: #bbbbbb;
    }
    .container4 {
        margin-bottom: 136px;
        color: #fff;
    }
    .Submit {
        margin-top: 47px;
        margin-bottom: -148px;
        margin-left: 0px;
        width: 700px;
        border: 1px solid #fff;
        color: #fff;
    }
    .input__Name {
        width: 699px;
    }
    .tel {
        width: 699px;
    }
    .ladel {
        color: #fff;
    }
    .form__input {
        width: 679px;
    }
    .google__maps {
        width: 679px;
    }
    .text__online1 {
        margin-top: 30px;
    }
}
@media screen and (max-width: 706px){
    .image__Video{
        height: 375px;  
    }
    .play{
        top: -267px;
        left: 306px;
    }
}
@media screen and (max-width: 320px) {
    .img__slider {
        width: 300px;
        padding-bottom: 0;
    }
    .img__slider1 {
        width: 300px;
        padding-bottom: 240px;
    }
    .icons__slider {
        width: 300px;
        height: 217px;
    }
    .image__Video {
        width: 300px;
        height: 159px;
        margin-left: 10px;
    }
    .video__cust {
        width: 300px;
        justify-content: center;
    }
    .video {
        margin-top: -163px;
        height: 636px;
    }
    .play {
        width: 37px;
        top: -105px;
        left: 138px;
    }
    .line {
        padding-top: 28px;
        padding-bottom: 21px;
    }
    .input__Name {
        width: 300px;
    }
    .tel {
        width: 300px;
    }
    .Submit {
        width: 300px;
        background: #E3B873;
    }
    .text__online1{
        margin-top: 83px;
    }
    .tovar1 {
        width: 300px;
    }
    .tovar2 {
        width: 300px;
    }
    .tovar3 {
        width: 300px;
    }
    .block__text {
        width: 270px;
        margin-top: 220px;
    }
    .conteiner__image{
        margin-bottom: -6px;
    }
    .conteiner__image1{
        margin-bottom: -6px;
    }
    .conteiner__image2{
        margin-bottom: -6px;
    }
    .form__input {
        width: 300px;
        height: 550px;
        margin-bottom: 101px;
    }
    .display__input {
        flex-direction: column;
    }
    .phone2 {
        margin-left: 0;
    }
    .tel3,.Question {
        width: 235px;
    }
    .Submit__bt {
        margin-bottom: 30px;
    }
    .container5{
        font-size: 12px;
        margin-left: 26px;
    }
    .footer{
        display: none;
    }
    .google__maps{
        width: 300px;
        height: 255px;
        margin-top: -459px;
    }
    .addres{
        margin-top: 218px;
        font-size: 15px;
    }
    .slider__test{
        width: 320px;
    }
    .text {
        padding-top: 469px;
    }
    .City {
        font-size: 14px;
    }
    .time{
        font-size: 14px;
    }
    .apartment {
        font-size: 14px;
    }
    .Cost {
        font-size: 14px;
    }
    .p__l{
        font-size: 11px;
    }
    .p__r{
        font-size: 11px;
    }
    .text__z{
        font-size: 20px;
        line-height: 132.83%;
    }
    .text__y {
        font-size: 12px;
        line-height: 135.84%;
        margin-bottom: 60px;
    }
    .dark {
        height: 476px;
    }
    .CALCULATE {
        width: 264px;
        margin-bottom: 26px;
    }
    .SUBMIT{
        width: 264px;
    }
    .Completed {
        width: 300px;
    }
    .Only {
        width: 300px;
        margin: 0;
    }
    .text{
        width: 300px;   
    }
    .section__slider {
        display: none;
    }
    .slider{
        height: 1033px;
    }
    .zapis {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 169.8%;
        text-align: center;
        color: #FFFFFF;
        padding-bottom: 38px;
    }
    .logo{
        font-size: 9px;
    }
    .telephon {
        font-size: 9px;
        margin-left: 44px;
    }
    .text__online {
        margin-top: 30px;
    }
    .style_background{
        height: 242px;
        margin-bottom: 138px;
    }
    .left__batton {
        width: 61px;
    }
    .right__batton{
        width: 61px;
    }
}
